<!DOCTYPE html>
<html>
  <head>
    <title>EmailVerifier</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar header">

    <a class="navbar-brand waves-effect"  >
      <strong class="banner-text">Email Verifier</strong>
    </a>

    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">
        </ul>

        <ul class="navbar-nav nav-flex-icons">
          <% unless current_user.present? %>
          <li class="nav-item">
                <a class="nav-link border border-dark rounded waves-effect"
                   target="_blank">
                  <img width="20px" style="margin-bottom:3px; margin-right:5px"
                       alt="Google sign-in"
                       src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
                  Login With Google
                </a>
            <%=  link_to "Sign in with Google",user_google_oauth2_omniauth_authorize_path , method: :post  %>
          </li>
          <% end %>
        </ul>

      </div>

    </div>
  </nav>
  </header>
  <div class="container-fluid main-content"  style="position: relative;" >
    <%= flash_messages %>
    <%= yield %>
  </div>
  </body>
</html>
